.home {
  display: flex;
  min-height: 92vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url('../Photo/vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

@media all and (max-width: 600px) {
  .inner-home {
    grid-template-columns: 1fr;
  }
}
